*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.full_screen{
    background-color: black;
    position: relative;

    z-index: 1;

    width: 100vw;
    height: 100vh;

    animation: start_all 7s;
}

.messaggio{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;

    opacity: 0;
    font-size:3em;

    animation: mes_start 6s
}


.border_bottom_scritta{
    position: absolute;
    left: 50%;
    top:55%;
    transform: translateX(-50%) ;
    width: 75%;
    color: white;
    opacity: 0;

    animation: mes_start 6s
}

.btn{
    background-color: transparent;
    padding: 5px;

    color: rgb(195, 194, 194);
    border-color: transparent;
    border-radius: 5px;

    cursor: pointer;

    transition: background-color 0.7s, color 0.7s;
}

.btn:hover{
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
}
/* COMMONS */

/* ANIMATION */
    @keyframes mes_start{

        0%{
            
            transform: translateY(-50%) translateX(-50%);
            opacity: 0;
            scale: 0.7;
        }

        25%{
            opacity: 1;
        }

        75%{
            opacity: 1;
        }

        100%{
            opacity:0;
            scale:1.5
        }
    }


    @keyframes start_all{
        0%{
            opacity: 0;
        }

        85%{
            opacity: 0;
        }

        100%{
            opacity: 1;
        }
    }

    @keyframes main_wrapper_Start{
        0%{
            height: 100%
        }
    
        25%{
            height: calc(100% - 80px);
        }
    
        75%{
            height: calc(100% - 80px);
        }
    
        100%{
            height: 100%
        }
    }
    
    @keyframes bottom_bar_start{
        0%{
            height: 30px;
        }
    
        25%{
            height: 80px;
        }
    
        75%{
            height: 80px;
        }
    
        100%{
            height: 30px;
        }
    
    }
    
    @keyframes bottom_Start{
        0%{
            opacity: 0;
            bottom:-60px
        }
    
        25%{
            opacity: 1;
            bottom: 0;
        }
    
        75%{
            opacity: 1;
            bottom: 0;
        }
    
        100%{
            opacity: 0;
            bottom:-60px;
        }
    }

    @keyframes icon_wrapper_top_start{
        0%{
            opacity: 0;
            top:-60px
        }
    
        25%{
            opacity: 1;
            top: 0;
        }
    
        75%{
            opacity: 1;
            top: 0;
        }
    
        100%{
            opacity: 0;
            top:-60px;
        }
    }
/* fine ANIMATION */

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(34, 34, 34, 0.2);
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(76, 76, 76);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(62, 62, 62);
  }
/* fine SCROLLBAR */


/* TOOLBAR */

.tool_bar_wrapper{
  width: 0px;
}

.tool_bar_wrapper .top_bar{
    height: 30px;
    background-color: transparent;

    position: absolute;
    top: 0;
    left:0;

    width: 100%;
    color: transparent;
    overflow: hidden;
}
/* TOPBAR */
.tool_bar_wrapper .top_bar .icon_wrapper_top{
    display: flex;
    justify-content: flex-end;

    position: relative;
    top:-40px;
    right:0;

    opacity: 0;

    transition: top 1s, opacity 1.3s;

    animation: icon_wrapper_top_start 4s 6.4s;
}

.tool_bar_wrapper .top_bar .icon_wrapper_top .icon{
    display: inline-block;
    margin:6px 4px;

    color: rgb(216, 216, 216);

    font-size:0.8em;
    padding: 2px 5px;
    background-color: transparent;

    border-radius: 5px;
    cursor: pointer;

    transition: all .6s;
}
/* fineTOPBAR */

/* BOTTOM BAR */
.tool_bar_wrapper .bottom_bar{
    height: 30px;
    background-color: transparent;
    
    overflow: hidden;
    
    position: absolute;
    bottom: 0;
    left:0;
    
    width: 100%;
    
    transition: height 1s, background-color 1s;

    animation:  bottom_bar_start 4s 6.4s;
}

.tool_bar_wrapper .bottom_bar .icon_wrapper_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;

    position: relative;
    bottom:-60px;
    right:0;

    opacity: 0;
    background-color: rgb(34, 34, 34);

    transition: bottom 1s, opacity 1.3s;   
    
    animation: bottom_Start 4s 6.4s;
}

/* BUTTONs */
.tool_bar_wrapper .bottom_bar .icon_wrapper_bottom .left_icon{
    height: 100%;
    padding:10px;
    
    display: flex;
    gap: 4px;
}

.tool_bar_wrapper .bottom_bar .icon_wrapper_bottom .center_icon .green_icon{
    color: greenyellow;
}

.tool_bar_wrapper .bottom_bar .icon_wrapper_bottom .left_icon>.btn{
    padding:5px 3px 5px 5px
}

.tool_bar_wrapper .bottom_bar .icon_wrapper_bottom .center_icon{
    height: 100%;
    padding:10px;
    
    display: flex;
    gap: 4px;
}

.tool_bar_wrapper .bottom_bar .icon_wrapper_bottom .right_icon{
    height: 100%;
    padding:10px;
    
    display: flex;
    gap: 4px;
}

.tool_bar_wrapper .bottom_bar .icon_wrapper_bottom .icon_text{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 6px;
}

.tool_bar_wrapper .bottom_bar .icon_wrapper_bottom .icon_text>i{
    font-size: 1.6em;
}

.tool_bar_wrapper .bottom_bar .icon_wrapper_bottom .icon_text>span{
    font-size: 0.6em;
}


.tool_bar_wrapper .bottom_bar .icon_wrapper_bottom .icon_bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 6px;
}

.tool_bar_wrapper .bottom_bar .icon_wrapper_bottom .icon_bottom>i{
    display: inline-block;
    font-size: .7em;
    background-color: transparent;
    height: 100%;
    padding:15px 6px;
    border-radius: 4px;

    transition: background-color 0.4s;
}

.tool_bar_wrapper .bottom_bar .icon_wrapper_bottom  .icon_bottom>i:hover{
    font-size: .7em;
    background-color: rgba(255, 255, 255, 0.2);
}

.tool_bar_wrapper .bottom_bar .icon_wrapper_bottom .right_icons{
    height: 100%;
}

.tool_bar_wrapper .bottom_bar .icon_wrapper_bottom .right_icons .end_button{
    color: rgb(143, 0, 0);
    background-color: rgb(67, 67, 67);
    font-weight: 600;
    height: 100%;
}

.tool_bar_wrapper .bottom_bar .icon_wrapper_bottom .right_icons .end_button:hover{
   background-color: rgb(188, 188, 188);
   color: red;
}
/* fine BUTTONs */


/* fineBOTTOM BAR */



/* TOOLBAR_HOVER */
.tool_bar_wrapper:hover .top_bar .icon_wrapper_top .icon{
     background-color: rgb(40, 40, 40);
}
.tool_bar_wrapper:hover .top_bar .icon_wrapper_top{
    top:0;
    opacity: 1;
}

.tool_bar_wrapper:hover .top_bar .icon_wrapper_top .icon:hover{
    color: white;
    background-color: rgb(88, 88, 88);
}

.tool_bar_wrapper:hover .bottom_bar{
    height:80px
}

.tool_bar_wrapper:hover .bottom_bar .icon_wrapper_bottom{
    opacity: 1;
    bottom: 0px;
}

.tool_bar_wrapper:hover + .main_wrapper{
    height: calc(100% - 80px);
}
/* fineTOOLBAR_HOVER */

/* fineTOOLBAR */

/* --------------------------
           MAIN 
-------------------------- */
.main_wrapper{
    width: 100%;
    height: 100%;
    padding:40px 30px;
    transition: height 1s;

    display: flex;

    animation: main_wrapper_Start 4s 6.4s;
}

.main_wrapper .main{
    height: 100%;
    width: 100%;

    overflow: auto;
}

.main_wrapper .main .wrapper_cards{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
}

.main_wrapper .main .wrapper_cards .card{
    width: calc(100% / 7);
    min-width: 250px;

    transition: transform 0.5s;
}

/* CARD HOVER */
.main_wrapper .main .wrapper_cards .card:hover{
    transform: scale(1.02);
}



.main_wrapper .main .wrapper_cards .card .video_container{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom:56.25%;

    overflow: hidden;
}


/* NAME-BAR */
.main_wrapper .main .wrapper_cards .card .video_container .name_bar{
    position: absolute;
    bottom: 10px;
    left: 0;

    z-index: 1;

    background-color: rgba(81, 81, 81, 0.6);
    color: white;

    padding: 3px 5px;
    font-size: 0.8em ;

    display: flex;
    gap: 10px;
}

.main_wrapper .main .wrapper_cards .card .video_container img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    object-fit: cover;
    object-position: center;
}

/* --------------------------
           fine MAIN 
-------------------------- */
