*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.full_screen{
    background-color: black;

    width: 100vw;
    height: 100vh;
}

.btn{
    background-color: transparent;
    padding: 5px;

    color: rgb(195, 194, 194);
    border-color: transparent;
    border-radius: 5px;

    cursor: pointer;

    transition: background-color 0.7s, color 0.7s;
}

.btn:hover{
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
}
/* COMMONS */

/* TOOLBAR */

.tool_bar_wrapper{
  width: 0px;
}

.tool_bar_wrapper .top_bar{
    height: 30px;
    background-color: transparent;

    position: absolute;
    top: 0;
    left:0;

    width: 100%;
    color: transparent;
    overflow: hidden;
}
/* TOPBAR */
.tool_bar_wrapper .top_bar .icon_wrapper_top{
    display: flex;
    justify-content: flex-end;

    position: relative;
    top:-40px;
    right:0;

    opacity: 0;

    transition: top 1s, opacity 1.3s;
}

.tool_bar_wrapper .top_bar .icon_wrapper_top .icon{
    display: inline-block;
    margin:6px 4px;

    color: rgb(216, 216, 216);

    font-size:0.8em;
    padding: 2px 5px;
    background-color: transparent;

    border-radius: 5px;
    cursor: pointer;

    transition: all .6s;
}
/* fineTOPBAR */

/* BOTTOM BAR */
.tool_bar_wrapper .bottom_bar{
    height: 30px;
    background-color: transparent;
    
    overflow: hidden;
    
    position: absolute;
    bottom: 0;
    left:0;
    
    width: 100%;
    
    transition: height 1s, background-color 1s;
}

.tool_bar_wrapper .bottom_bar .icon_wrapper_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;

    position: relative;
    bottom:-60px;
    right:0;

    opacity: 0;
    background-color: rgb(34, 34, 34);

    transition: bottom 1s, opacity 1.3s;

    
}

/* LEFT BUTTON */
.tool_bar_wrapper .bottom_bar .icon_wrapper_bottom .left_icon{
    height: 100%;
    padding:10px;
    
    display: flex;
    gap: 4px;
}

.tool_bar_wrapper .bottom_bar .icon_wrapper_bottom .center_icon .green_icon{
    color: greenyellow;
}

.tool_bar_wrapper .bottom_bar .icon_wrapper_bottom .left_icon>.btn{
    padding:5px 3px 5px 5px
}

.tool_bar_wrapper .bottom_bar .icon_wrapper_bottom .center_icon{
    height: 100%;
    padding:10px;
    
    display: flex;
    gap: 4px;
}

.tool_bar_wrapper .bottom_bar .icon_wrapper_bottom .right_icon{
    height: 100%;
    padding:10px;
    
    display: flex;
    gap: 4px;
}

.tool_bar_wrapper .bottom_bar .icon_wrapper_bottom .icon_text{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 6px;
}

.tool_bar_wrapper .bottom_bar .icon_wrapper_bottom .icon_text>i{
    font-size: 1.6em;
}

.tool_bar_wrapper .bottom_bar .icon_wrapper_bottom .icon_text>span{
    font-size: 0.6em;
}


.tool_bar_wrapper .bottom_bar .icon_wrapper_bottom .icon_bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 6px;
}

.tool_bar_wrapper .bottom_bar .icon_wrapper_bottom .icon_bottom>i{
    display: inline-block;
    font-size: .7em;
    background-color: transparent;
    height: 100%;
    padding:15px 6px;
    border-radius: 4px;

    transition: background-color 0.4s;
}

.tool_bar_wrapper .bottom_bar .icon_wrapper_bottom  .icon_bottom>i:hover{
    font-size: .7em;
    background-color: rgba(255, 255, 255, 0.2);
}

.tool_bar_wrapper .bottom_bar .icon_wrapper_bottom .right_icons{
    height: 100%;
}

.tool_bar_wrapper .bottom_bar .icon_wrapper_bottom .right_icons .end_button{
    color: rgb(143, 0, 0);
    background-color: rgb(67, 67, 67);
    font-weight: 600;
    height: 100%;
}

.tool_bar_wrapper .bottom_bar .icon_wrapper_bottom .right_icons .end_button:hover{
   background-color: rgb(188, 188, 188);
   color: red;
}
/* fine LEFT BUTTON */


/* fineBOTTOM BAR */



/* TOOLBAR_HOVER */
.tool_bar_wrapper:hover .top_bar .icon_wrapper_top .icon{
     background-color: rgb(40, 40, 40);
}
.tool_bar_wrapper:hover .top_bar .icon_wrapper_top{
    top:0;
    opacity: 1;
}

.tool_bar_wrapper:hover .top_bar .icon_wrapper_top .icon:hover{
    color: white;
    background-color: rgb(88, 88, 88);
}

.tool_bar_wrapper:hover .bottom_bar{
    height:80px
}

.tool_bar_wrapper:hover .bottom_bar .icon_wrapper_bottom{
    opacity: 1;
    bottom: 0px;
}

.tool_bar_wrapper:hover + .main_wrapper{
    height: calc(100% - 60px);
}
/* fineTOOLBAR_HOVER */

/* fineTOOLBAR */

.main_wrapper{
    width: 100%;
    height: 100%;
    padding:40px 30px;
    transition: height 1s;

    display: flex;
}


